APP_ENV=local
NODE_ENV=development
DATABASE_URL=postgres://fmc:changeme@db:5432/fmc
STORAGE_ENDPOINT=http://storage:9000
STORAGE_ACCESS_KEY=fmc-local
STORAGE_SECRET_KEY=changeme-local
STORAGE_BUCKET_MEDIA=fmc-media
STORAGE_BUCKET_MAPS=fmc-maps
