node_modules
**/node_modules
.git
.github
.turbo
**/.turbo
dist
**/dist
out
**/out
.next
**/.next
coverage
**/coverage
.env
**/.env
**/.env.local
*.log
.DS_Store
docs
infra/**/.terraform
infra/**/.terragrunt-cache
**/*.tfstate*
**/*.tfvars
*.pem
*.key
service-account*.json
